/** { border: 3px solid black; }*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
}

nav {
  width: 100%;
  border: 3px solid black;
  margin-bottom: 50px;
  background-color: cornsilk;
}

body {
  background-color: salmon;
}

#cookies {
  margin-bottom: 50px;
}

#salmon {
  margin-bottom: 50px;
}

#plus {
  margin-bottom: 100px;
  margin-right: 20px;
}

#equals {
  margin-bottom: 55px;
  margin-left: 20px;
}

#background {
  border: 1px solid black;
  width: 1350px;
  height: 759px;
  margin-left: 50px;
  margin-top: -412px;
  background: url(pikeplace.jpg);
}

#reviews {
  border: 1px solid black;
  height: 375px;
  width: 400px;
  position: absolute;
  left: 1425px;
  background: cornsilk;
  text-align: center;
  padding: 20px;
  overflow: scroll;
  font-family: sans-serif;
  margin-top: -412px;
}

img {
}
input[type=submit] {
  height: 30px;
  border: 2px solid black;
  border-radius: 15px;
  background-color: salmon; /* Green */
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
input[type=text] {
  border: 2px solid black;
  width: 300px;
  height: 30px;
  border-radius: 15px;
}

nav h1 {
  position: relative;
  top: -5px;
  left: 30px;
  font-family: Allura;
  font-size: 45px;
}

nav li {
  display: inline;
  margin-right: 50px;
  position: relative;
  font-size: 50px;
  font-family: Allura;
}

nav ul {
  display: inline;
  margin-left: 10%;
}

#comment {
  font-size: 20px;
}

#author {
  text-align: center;
  font-size: 15px;
  margin-top: 10px;
}
#review {
  margin-top: 30px;
}

#stuff {
  border: 1px solid black;
  height: 288px;
  width: 430px;
  position: absolute;
  left: 10px;
  background: cornsilk;
  text-align: center;
  padding: 20px;
  /*overflow: scroll;*/
  font-family: sans-serif;
  background: url("salmonbits.jpg");
}

#images {
  text-align: center;
  margin-bottom: 25px;
}

#cookie_monster {
  position: relative;
  left: 975px;
}

#text_bubble {
  position: relative;
  left: 275px;
  bottom: 275px;
}

#monster_speech {
  position:relative;
  left: 865px;
  bottom: 415px;
  width: 150px;
  font-size: 25px;
  font-family: 'Indie Flower', cursive;
}

#coupon {
  width: 400px;
  height: 300px;
  border: 10px dashed black;
  position: relative;
  bottom: 575px;
  left: 275px;
  background-color: #C0BCB6;
  text-align: center;
  padding: 30px;
}

#coupon p {
  font-size: 50px;
  font-family: 'Anton', sans-serif;
}

#scissors {
  position: absolute;
  bottom: 100px;
  left: 100px;
}
